<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Bépédia
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="over" #drawer>

    <div class="full-width sub-drawer" fxLayoutAlign="center center" *ngIf="!user">
      <button mat-button>Se connecter</button>
    </div>

    <div class="full-width sub-drawer" fxLayout="column" fxLayoutAlign="center center" *ngIf="user">
      <img [src]="user.photoURL" class="profile-pic" />
      <h3>{{user.displayName}}</h3>
    </div>

    <mat-divider class="full-width"></mat-divider>

    <mat-nav-list>
      <a mat-list-item [routerLink]="'recette'" (click)="drawer.toggle()"> Recettes </a>
      <a mat-list-item [routerLink]="'couture'" (click)="drawer.toggle()"> Coutures </a>
      <a mat-list-item [routerLink]="'betise'" (click)="drawer.toggle()"> Bêtises </a>
      <a mat-list-item [routerLink]="'galerie'" (click)="drawer.toggle()"> Galerie </a>
    </mat-nav-list>


  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

