<main>
  <ngx-masonry [options]="masonryOptions">
    <div ngxMasonryItem *ngFor="let picture of masonryItems" (click)="openImage(picture)">
      <img *ngIf="!picture.url.includes('.mp4')" [src]="picture.url" width="100%">
      <video *ngIf="picture.url.includes('.mp4')" [src]="picture.url" width="100%"></video>
    </div>
  </ngx-masonry>
</main>

<button mat-fab color="primary" (click)="triggerInput()" class="add-img">
  <mat-icon>add</mat-icon>
</button>

<input type="file" class="hidden" multiple accept="image/*, video/*" id="fileInput" ngModel (ngModelChange)="modelChange()" />
