main {
  //background: url("/assets/img/home-bg.jpg") no-repeat center center;
  //background-size: cover;
  padding: 15px 0;

  app-card {
    width: 95%;

    @media screen and (min-width: 600px) {
      width: 50%;
    }
  }
}
